<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="hbaseclient1" type="Thrift.Transport.HBaseConfig.HBaseClientConfig, Thrift.Transport-0.10"/>
  </configSections>
  <hbaseclient1>
    <HBaseClient Host="192.168.0.110" Port="9090" TimeOut="6000"/>
  </hbaseclient1>
</configuration>